<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}" />

<link rel="alternate" hreflang="fr" href="{{ .Site.BaseURL }}/fr" />
<link rel="alternate" hreflang="es" href="{{ .Site.BaseURL }}/es" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap" rel="stylesheet">
{{ $style := resources.Get "css/style.css" }}

<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ $jsBundle := resources.Match "js/**.js" | resources.Concat "js/bundle.js" | minify | resources.Fingerprint "sha256" }}
<script src="{{ $jsBundle.RelPermalink }}" integrity="{{ $jsBundle.Data.Integrity }}"></script>
